> Hardik Kumar Sinha

# Unit 2

## Functions / Methods
### Declare/ Definition and Calling of Function
Syntax: 
```python
def <function_name>():
	block 
	of 
	code

	return
```

In [ ]:
# defining a function
def SATI():    
		print("Hello")
		print("SATI")

# calling a function
SATI()

def add(a, b):    
		print(a+b)    

ans = Add(25, 30)   #This returns None
print(ans)

#ans = Add(12)  #raise error because 1 less argument is given

def Sub(a, b=0):  #b has default value 0 now. So if nothing is given for b, 0 will be use instead
	return(a-b)
	print("Run")    #Function call end at return. After return, nothing will be executed

ans = Sub(10)
print(ans)

### Arguments & Parameter

`parameter` are inputs in function inside parenthesis. 
`arguments` are the values being passed for the function.

In [ ]:
def sati(name):					# name is a parameter
	print("Hello,", name)

print(sati("atul"))				# atul is argument

In [ ]:
"""
HW: WRite a program for addition, multiplication, subtraction of two number by taking user input
"""

def add(a, b):
	return a + b

def mult(a, b):
	return a * b

def sub(a, b):
	return a - b

num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))

print("Addition:", add(num1, num2))
print("Subtraction:", sub(num1, num2))
print("Multiplication:", mult(num1, num2))

### Some built in functions

In [ ]:
print("Hello"+"World",28)
#In print() each argument is automatically get separated by single space

In [ ]:
a, b = map(int, input("Enter numbers").split(" "))    #takes multiple input in single line in two separate variables

## Conditional Statement
Use to make decision in program based on certain relational, logical or boolean conditions.


### Types of Conditional Statement

1. `if`
2. `if else`
3. `if elif else`
4. `nested if`
5. `Ternary operator`

## Loop
Two types:
1. for loop -> runs for n number of times
2. while loop -> runs indefinetly until given condition is found True

In [ ]:
fruits = ["apple", "mango", "banana", "pineapple", "orange"]

for i in fruits: 
	print(i)           	#list

print()
for i in fruits[3]: 
	print(i)        	#string

print()
for i in tuple(fruits): 
	print(i)    		#tuple

print()
for i in set(fruits): 
	print(i)      		#set

In [ ]:
dict = {
	"Name" : "Koustubh",
	"Branch" : "AIADS",
	"Year" : "1st"
}
print("These are keys")
for i in dict: print(i)                     #display keys
for i in dict.keys(): print(i)              #display keys

print("\n\nThese are values")
for i in dict: print(dict[i])               #display values
for i in dict.values(): print(i)

print("\n\nThese are items")
for i in dict: print(f"{i} -> {dict[i]}")   #display items
for i in dict.items(): print(i)

In [ ]:
for i in range(0, 21): print(i)

In [ ]:
for i in range(10, 21): print(i)

In [ ]:
for i in range(1, 16, 2): print(i)

In [ ]:
for i in range(10, 1): print(i)   #range function wont work because default step is 1 and value will increase from 10 and never reach 1
for i in range(1, 10, -1): print(i)   #range function wont work because step is -1 and value will decrease from 1 and never reach 10

In [ ]:
for i in range(10, 1, -1): print(i)

## Homework

In [ ]:
#Repeating functions - Run this block before runnning any other block below

def conv_numeric(num1):
	if '.' in num:
		num = float(num)
	else: num = int(num)
	return num

In [ ]:
# Write a program for addition, subtraction, multiplication, division of two numbers by taking user input in a function

def add(num1, num2):
	return num1 + num2

def sub(minuend, subtrahend):
	return minuend - subtrahend

def prod(num1, num2):
	return num1*num2

def div(dividend, divisor):
	return divisor/divisor

#input values
num1 = conv_numeric(input("Enter num1/ minuend/ dividend)"))
num2 = conv_numeric(input("Enter num2/ subtrahend/ divisor)"))

#ask which input is needed
print("Enter:\n\
1 for Add\n\
2 for Subtract\n\
3 for Multiply\n\
4 for Divide")
operation = int(input("input:"))

if   operation == 1: print("Ans", add(num1, num2))
elif operation == 2: print("Ans", sub(num1, num2))
elif operation == 3: print("Ans", prod(num1, num2))
elif operation == 4: print("Ans", div(num1, num2))

In [ ]:
#check if num is even or odd
num = conv_numeric(input("Enter num:"))

if num % 2 == 0: print("Num is Even")
else: print("Num is odd")

In [ ]:
#input a number and print whether it is greater than 5 or lesser than 5
#use if else
#use ternary operator

num = conv_numeric(input("Enter a number:"))

print("Using if else")
if num < 5: print(f"{num} is lesser than 5")
elif num > 5: print(f"{num} is greater than 5")
else: print(f"{num} is equal to 5")

print("Using ternary operator. This wont work for 5 == 5")
answer = f"{num} is lesser than 5" if num < 5 else f"{num} is greater than 5"
print(answer)

In [ ]:
#Take student marks as input
marks = conv_numeric(input("Enter your marks"))

if marks < 50: print("You fail")
else:print("You pass")

In [ ]:
#Take 3 numbers as input and print largest in them
num1 = conv_numeric(input("Enter first number"))
num2 = conv_numeric(input("Enter second number"))
num3 = conv_numeric(input("Enter third number"))

#num1, num2, num3 = map(float, input("Enter numbers separated by comma".split(',')))

if num1 > num2 and num1 > num3:
	print(f"{num1} is greatest")
elif num2 > num1 and num2 > num3:
	print(f"{num1} is greatest")
elif num3 > num1 and num3 > num2:
	print(f"{num1} is greatest")

In [ ]:
angle1 = conv_numeric(input("First angle:"))
angle2 = conv_numeric(input("Second angle:"))
angle3 = conv_numeric(input("Third angle:"))

sum = angle1 + angle2 + angle3
print("Sum of given three angles =", sum)

if sum == 180:
	print(f"{angle1}, {angle2} and {angle3} form a valid triangle")
else:
	print(f"{angle1}, {angle2} and {angle3} does not form a valid triangle")

In [ ]:
#check if number is positive, negative or zero
num = conv_numeric(input("Enter number:"))

if num < 0: print("num is negative")
elif num > 0: print("num is positive")
else: print("num is zero")

In [ ]:
#check if number is positive, negative or zero without using int() float()
num = input("Enter number:")
zero = True
neg = False

if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)
	neg = True

if num.isnumeric():
	for x in num:
		if x != '0':
			zero = False
			break

	if zero == True: print("Num is zero")
	elif neg == True: print("Num is negative")
	elif neg == False: print("Num  is positive")

else: print("VALUE ERROR")

In [ ]:
#discount calculator
PAmount = conv_numeric(input("Enter total purchase amount:"))

def discount(PAmount, discount):
	print(f"Purchase amount is greater than 500")
	print(f"Hence, {discount}% discount is applicable")
	print()

	DAmount= PAmount*discount/100
	print(f"Total prize:{PAmount}")
	print(f"Discount applicable:{discount}%")
	print(f"Discounted Amount:{DAmount}")
	print(f"Net payable amount:{PAmount-DAmount}")

if PAmount > 1000:
	DPercent = 50
elif PAmount > 500:
	DPercent = 20
else:
	DPercent = 0

discount(PAmount, DPercent)

In [ ]:
side1 = conv_numeric(input("First side:"))
side2 = conv_numeric(input("Second side:"))
side3 = conv_numeric(input("Third side:"))

if side1 + side2 > side3 and side1 + side3 > side2:

	if side1 == side2 and side2 == side3:     #if a=b and b=c then, a=c
		print("Given sides form an equilateral triangle")
	elif side1 == side2 or side1 == side3 or side2 == side3:
		print("Given sides form an isosceles triangle")
	else:
		print("Given sides form an isosceles triangle")

else:

	print("Triangle not form")

In [ ]:
#Take two numbers as input and print which is greater
num1 = input("Enter first number:")
num2 = input("Enter second number:")

#change to numeric datatype
if "." in num1 or "." in num2:
	num1= float(num1)
	num2= float(num2)
else:
	num1= int(num1)
	num2= int(num2)

if num1 > num2: print(num1, "is greater")
elif num1 < num2: print(num2, "is greater")
else: print("Both number are equal")

In [ ]:
#check if num is even or odd without int() function
num = input("Enter num:")
odd = tuple('13579')
even = tuple('02468')

if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

if not num.isnumeric():
	print("VALUE ERROR")
else:
	if num[-1] in even: print("Num is Even")
	else: print("Num is odd")


#NOTE: Make this work for expressions as well. It does not happen in int() float() function
#if odd number of odd numbers are added/ subtracted/ multiply, the result is odd
#if even number of odd numbers are added/ subtracted/ multiply, the result is even

In [ ]:
#Take two numbers as input and print which is greater without using int, float function
num1 = input("Enter first number:")
num2 = input("Enter second number:")
'''
if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

if not num.isnumeric():
	print("VALUE ERROR")
else:

	if num[-1] in even: print("Num is Even")
	else: print("Num is odd")
	'''

In [ ]:
#Temp convertor

temp, unit = input("Enter temperature (eg- 12 C):").split(" ")
temp = conv_numeric(temp)

if unit == 'F':
	Ntemp = temp*(9/5) + 32
	print(f"{temp} F => {Ntemp} C")

elif unit == 'C':
	Ntemp = (temp - 32)*(5/9)
	print(f"{temp} C => {Ntemp} F")

else:
	print("Invalid unit")

In [ ]:
#Take a single character as input

char = input("Enter a single character")
ascii = ord(char)

if ascii >= 48 and ascii <=  57:
	print(f"{char} is a string digit")
	#print(f"ASCII code = {48+int(char)}")    #without using ord or ascii

elif ascii >= 65 and ascii <=  90:
	print(f"{char} is a capital letter")

elif ascii >= 97 and ascii <=  122:
	print(f"{char} is a small letter")

elif ascii >= 32 and ascii <= 126:
	print(f"{char} is special character")

print(f"ASCII code = {ascii}")      #where ascii = ord(char)

#Assignment

In [ ]:
#Print all even number form 1 to 20
#using steps
for i in range(2, 21, 2):
	print (i, end=' ')

print()
#using condition
for i in range(1, 21):
	if i%2 == 0:
		print(i, end=" ")

In [ ]:
#Find the sum of numbers from 1 to 10
sum = 0
for i in range(1, 11):
	sum += i
print(sum)

In [ ]:
#Create a multiplaction table of a given number
num = input("Enter a number:")
#conv_numeric(num)

if '.' in num:
	num = float(num)
else: num = int(num)

for i in range(1, 11):
	print(f"{num} times {i} is {num*i}")

In [ ]:
#Loop through a list of student names and print a greeting
names = ("Koustubh", "Aashay", "Hardik", "Rahul", "Gaurav", "Daksh")

for i in names:
	print("Hello,", i)

In [ ]:
#Loop through a list of student names and print a random greeting
import random
names = ("Koustubh", "Aashay", "Hardik", "Rahul", "Gaurav", "Daksh")
greetings = ["Hello", "Hi", "Hey", "Greetings", "Good Morning"]

for i in names:
	print(random.choice(greetings), i)

In [ ]:
#Write a program that prints the square of all the numbers from 1 to 10 using loops
for i in range(1, 11):
	print(f"Sqaure of {i} = {i**2}")

In [ ]:
#Find factotrial
num = input("Enter a number:")
#conv_numeric(num)

if '.' in num:
	num = float(num)
else: num = int(num)

factorial = 1
for i in range(1, num+1):
	factorial *= i
print(factorial)

In [ ]:
'''
Print pattern

*

**

***
'''
for i in range(1,4):
	print()
	print('*'*i)

In [ ]:
#sum of digit of number
num = input("Enter a number:")
if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

sum= 0
for i in num:
	sum += int(i)

print(sum)

In [ ]:
#count digit in number
num = input("Enter a number:")
if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

if num.isnumeric():
	count = 0
	for i in num:
		count += 1
	print(count)
else:
	print("Give only number")

### Program using while loops

In [ ]:
#Print all even number form 1 to 20
#using steps
i=2
while i<=20:
	if i%2 == 0:
		print(i, end=" ")
	i+=2

print()
#using condition
i=1
while i<=20:
	if i%2 == 0:
		print(i, end=" ")
	i+=1

In [ ]:
#Find the sum of numbers from 1 to 10
sum, i = 0, 1
while i<=10:
	sum += i
	i += 1
print(sum)

In [ ]:
#Loop through a list of student names and print a greeting
names = ("Koustubh", "Aashay", "Hardik", "Rahul", "Gaurav", "Daksh")

i=0
while i<len(names):
	print("Hello,", names[i])
	i += 1

In [ ]:
#Loop through a list of student names and print a random greeting
import random
names = ("Koustubh", "Aashay", "Hardik", "Rahul", "Gaurav", "Daksh")
greetings = ["Hello", "Hi", "Hey", "Greetings", "Good Morning"]

i = 0
while i < len(names):
	print(random.choice(greetings), names[i])
	i += 1

In [ ]:
#Write a program that prints the square of all the numbers from 1 to 10 using loops
i = 1
while i <= 10:
	print(f"Sqaure of {i} = {i**2}")
	i += 1

In [ ]:
'''
Print pattern

*

**

***
'''
i=1
while i<=3:
	print()
	print('*'*i)
	i+=1

In [ ]:
#sum of digit of number
num = input("Enter a number:")
if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

sum= i= 0
while i < len(num):
	sum += int(num[i])
	i+=1

print(sum)

In [ ]:
#Print number 1 to 5
i = 1
while i<= 5:
	print(i, end=" ")
	i+=1

In [ ]:
#Sum of first 10 natural number
sum = i = 1
while i< 10:
	i+=1
	sum+=i
print(sum)

In [ ]:
#Print even number form 1 to 10
i = 2
while i<=10:
	print(i)
	i+=2

In [ ]:
#Print number in reverse
num = input("Enter num:")
i = len(num)
if '-' == num[0]:
	num = num.replace('-','',1)

new = ''
if num.replace('.','',1).isnumeric():
	count= i= 0
	while i > 0:
		i-=1
		new+= num[i]
else:
	print("Give a number")
print(new)

In [ ]:
#Print number in reverse using arithmatic
num =52866
reverse=0
while num > 0:
	remainder = num%10
	reverse = reverse*10+ remainder
	num = num//10
	i += 1

print(reverse)

In [ ]:
#Find factotrial
num = input("Enter a number:")
#conv_numeric(num)

if '.' in num:
	num = float(num)
else: num = int(num)

factorial = i = 1

while i <= num:
	factorial *= i
	i+=1
print(factorial)

In [ ]:
#Create a multiplaction table of a given number
num = input("Enter a number:")
#conv_numeric(num)

if '.' in num:
	num = float(num)
else: num = int(num)

i=1
while i<=10:
	print(f"{num} times {i} is {num*i}")
	i+=1

In [ ]:
#count digit in number
num = input("Enter a number:")
if '.' in num:
	num = num.replace('.','',1)
if '-' == num[0]:
	num = num.replace('-','',1)

if num.isnumeric():
	count= i= 0
	while i < len(num):
		count += 1
		i+=1
	print(count)
else:
	print("Give only number")

In [ ]:
#print first 10 multiples of a number
num = input("Enter a number:")
#conv_numeric(num)

if '.' in num:
	num = float(num)
else: num = int(num)

i=1
while i<=10:
	print(num*i, end= " ")
	i+=1

## NESTED LOOPS

In [ ]:
''' print

* * * * *
* * * * *
* * * * *
'''

for i in range(3):
	for j in range(5):
		print("*", end=' ')
	print()

In [ ]:
''' print

*
**
***
****
'''

for i in range(4):
  for j in range(1, 5):
	print("*"*j)
  print()

## Control Statement

### continue

In [ ]:
#print number from 1 to 20 but skip multiples of 5

for num in range(21):
  if num%5 == 0: continue
  print(num)

In [ ]:
# print only the vowels from a given string, skip the consonants
vowels = tuple('aeiouAEIOU')
string = input("Enter a string:")

for letter in string:
  if letter not in vowels: continue
  print(letter)

In [ ]:
# print odd number from 1 to 30 using continue
for num in range(31):
	if num%2 == 0: continue
	print(num)

In [ ]:
#Loop through a list of names and skip names that start with 'A'
friends = ["Aashay", "Anshika", "Hardik", "Ansh", "Daksh", "Atul" "Rishita", "Arpit"]

for name in friends:
	if name[0] == 'A': continue
	print(name)

### break

In [ ]:
#Print number from 1 to 100, but stop the loop when the number reaches 45

for num in range(101):
	if num == 45: break
	print(num)

In [ ]:
#Keep asking the user to enter a password until it is correct. break the loop once correct password is entered
import getpass
PASSWORD = "1"

while True:
	passwd = getpass.getpass("Enter Password:")
	if passwd == PASSWORD:
		print("Welcome user")
		break
	print("Incorrect password. Please try again")

In [ ]:
#Loop through a string and Stop when the character 'x' is found
string = input("Enter string:")

for ch in string:
	print(ch)
	if ch == 'x': break

In [ ]:
#Find the first number divisible by 9 in a list and print it, then stop the loop
lst = [63, 463, 36, 253, 567, 25, 47, 68, 26, 74]

for num in lst:
	print(num)
	if num%9 == 0:break

### pass

In [ ]:
#Write a loop from 1 to 10 and use pass inside an if condition when the number is even

for num in range(11):
	if num %2 == 0: pass
	else: print(num)

In [ ]:
#Write a for loop with an empty if condition using pass

for num in range(11):
	if True: pass
	else: print(num)