> Hardik Kumar Sinha <br>
> 34944 <br>
> 27 feb 2025 <br>

# DataTypes
1. Numeric
    - Integer
    - Float
    - Complex

2. Dictionary
3. Set
4. Bool
5. Sequence
    - List
    - Tuple
    - String

In [ ]:
"""
DataType 
~
Numeric
"""
# Integer
a = 10
b = -15
c = 0
print(type(a))
print(type(b))
print(type(c))
print()

# Float
x = 3.14
y = -3.14
z = 1.5e3
print(type(x))
print(type(y))
print(type(z))
print()

# Complex
p = 2 + 3j
q = 5 + 7j
print(type(p))
print(type(q))

print(a.real)
print(b.imag)

In [ ]:
"""
DataType 
~
Dictionary
"""
a = {"name": "hardik", "age": 17, "class": "AIADS"}
print(a)
print(type(a))
print(a["age"])
# print(a[0]) # gives error

In [ ]:
"""
DataType 
~
Boolean
"""
a = True
b = False

print(type(a))
print(type(b))

In [ ]:
"""
DataType 
~
Set
"""
a = {"hardik", 17, "AIADS"}
print(a)
print(type(a))

In [ ]:
"""
DataType 
~
Sequence
"""
# String(str)
c = "Hellow"
print(c)
print(type(c))

c = """Hello"""
print(c)
print(type(c))
print()

# List
c = [2, 3, 4, "abc"]
print(c)
print(type(c))
print()

d = ("name", 3, 4, "abc")
print(d)
print(type(d))

# Markdown
1. Implicit
2. Explicit

In [ ]:
"""
Markdown 
~
Implicit
"""

a = 5
b = 2.5
print(a+b)
#automatically convert a to float, and gives output in float

In [ ]:
"""
Markdown 
~
Explicit - 1
"""

#int
a = 5
print(a)
print(str(a))
print(float(a))
print(complex(a))
#print(tuple(a))        int object is not iterable. quick fix e = (a,). print(type(tuple)) => <class 'tuple'>
#print(list(a))                                     quick fix e = [a]. print(type(tuple)) => <class 'tuple'>
#print(set(a))                                      quick fix e = {a}. print(type(tuple)) => <class 'tuple'>
#print(dict(a))         requires key value pair
print()

#str
a = "twenty"
print(a)
#print(int(a))
print(int("432"))
#print(float(a))
print(float("432.432"))
#print(complex(a))
print(complex("4+3j"))
print(tuple(a))        
print(list(a))         
print(set(a))          
#print(dict(a))         requires key value pair
print()

#complex
a = 1 + 3j
print(a)
#print(int(a))
#print(float(a))
print(str(a))
#print(tuple(a))        
#print(list(a))         
#print(set(a))          
#print(dict(a))        
print()

#tuple
a = (1, 2, "abc")
print(a)
#print(int(a))
#print(float(a))
print(str(a))
#print(complex(a))        
print(list(a))         
print(set(a))          
#print(dict(a))        
print()

In [ ]:
"""
Markdown 
~
Explicit - 2
"""

#list
a = [1, 2, "abc"]
print(a)
#print(int(a))          doesn't even work with [4]
#print(float(a))
print(str(a))
#print(complex(a))        
print(tuple(a))         
print(set(a))          
#print(dict(a))        
print()

#set
a = {1, 2, "abc"}
print(a)
#print(int(a))
#print(float(a))
print(str(a))
#print(complex(a))        
print(list(a))         
print(tuple(a))          
#print(dict(a))        
print()

#dict
a = {"num": 101, "name": "ITC"}
print(a)
#print(int(a))
#print(float(a))
print(str(a))
#print(complex(a))        
print(list(a))         
print(set(a))          
print(tuple(a))        
print()

# Mutable & Immutable Variable
1. Mutable Variables
2. Immutable Variable

In [18]:
"""
Mutable & Immutable Variable 
~
Mutable Variable
"""
a = [1,2,3]
print(a)
print(id(a))
print()

a.append(4)
print(a)
print(id(a))

[1, 2, 3]
2639042545856

[1, 2, 3, 4]
2639042545856

In [19]:
"""
Mutable & Immutable Variable 
~
Immutable Variable
"""
a = "ITC"
print(a)
print(id(a))
print()

a = a + "101"
print(a)
print(id(a))

ITC
2639042562976

ITC101
2639038393168

# Python Operator
1. Arithmetic Operator  
    - \+
    - \-
    - \/
    - %
    - //
    - \*
    - **

2. Assignment Operator
    - =
    - +=
    - -=
    - *=
    - /=

3. Comparision Operator
    - ==
    - !=
    - \>
    - <
    - \>=
    - <=

4. Logical Operator
    - and
    - or
    - not

5. Identity Operator
    - is
    - is not
    
6. Membership Operator
    - in
    - not in

7. Bitwise Operator
    - &
    - |
    - ~
    - ^
    - <<
    - \>>

In [ ]:
"""
Operators
~
Arithmetic Operator
"""

a = 4
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

In [ ]:
"""
Operators
~
Assignment Operator
"""
a = 5
print(a)

a += 5
print(a)

a -= 4
print(a)

a *= 2
print(a)

a /= 7
print(a)

In [ ]:
"""
Operators
~
Comparision Operator
"""

a = 4
b = 6

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

In [ ]:
"""
Operators
~
Logical Operator
"""

a = True
b = False

print(a and b)
print(a or b)
print(not a)

In [ ]:
"""
Operators
~
Identity Operator
"""

a = [1,2,3,4]
z = a
print(a is z)

b = [1, 2, 3, 4]
print(a is b)
print(a is not b)

In [ ]:
"""
Operators
~
Membership Operator
"""

print("a" in "apple")
print("a" in "banana")
print("b" in "car")

In [ ]:
"""
Operators
~
Bitwise Operator
"""

a = 5   #101
b = 3   #011

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a << 1)
print(b >> 1)

# Exercise
## 1. Evaluate 
    (x < y) or (not (z == y) and (z < x))

### a) x = 0, y = 6, z = 10

In [21]:
"""
1.a
"""
x = 0
y = 6
z = 10
sol = (x < y) or (not (z == y) and (z < x))
print(sol)

True

### b) x = 1, y = 1, z = 1

In [22]:
"""
1.b
"""
x = 1
y = 1
z = 1
sol = (x < y) or (not (z == y) and (z < x))
print(sol)

False

## 2. Evaluate the expressions

In [24]:
"""
2
"""
# a
print(-7 * 20 + 8 / 16 * 2 + 54)

# b
print(7 ** 2 //9 % 3)

# c
print((7 - 4 * 2) * 10 / 5 ** 2 + 15)

# d
print(5 % 10 +10 -25 * 8 // 5)

# e
print('hello' * (2 - 5))

-85.0
2
14.6
-25

## 3. Evaluate the relation and logical operator

In [28]:
"""
3
"""

# a
print("hi" > "hello" and "bye" < "Bye")

# b
print("hi" > "hello" or "bye" < "Bye")

#c 
print(7 > 8 or 5 < 6 and 'I am fine' > 'I am not fine')

# d
print(10 != 0 and 20 >= 29)

# e
print(10 != 9 and 29 >= 29 and 'hi' > 'hello' or 'bye' < 'Bye' and 7 <= 2.5)

False
True
False
False
True

## 4. Evaluate the expression

In [32]:
"""
4
"""

# a
print(5 % 10 + 10 < 50 and 29 >= 29)

# b
print(7 ** 2 <= 5 // 9 % 3 or 'bye' < 'Bye')

# c
print(5 % 10 < 10 and -25 > 1 * 8 // 5)

# d
print(7 ** 2 // 4 + 5 > 8 or 5 != 6)

#e
print(7 / 4 < 6 and 'I am fine' > 'I am not fine')

# f
print(10 + 6 * 2 ** 2 != 9 // 4 - 3 and 29 >= 29 /9)

# g
print('hello' * 5 > 'hello' or 'bye' < 'Bye')

True
False
False
True
False
True
True

## 5. Evaluate the following bitwise operator

In [33]:
"""
5
"""

# a
print(15 & 22)

# b
print(15 | 22)

# c
print(-15 & 22)

# d
print(-15 | 22)

# e
print(~15)

# f
print(~22)

# g
print(~-20)

# h
print(15 ^ 22)

6
31
16
-9
-16
-23
19
25